
@font-face {
    font-family:"Tungsten-Semibold";
    src:url("Tungsten-Semibold.woff2") format("woff2"),url("Tungsten-Semibold.woff") format("woff"),url("Tungsten-Semibold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        