
@font-face {
    font-family:"Tungsten-Medium";
    src:url("Tungsten-Medium.woff2") format("woff2"),url("Tungsten-Medium.woff") format("woff"),url("Tungsten-Medium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        