body {
  background-color: black;
  font-family: Arial !important;
}

.debug {
  color: green;
  background-color: pink;
  display: none;
}

.debug.notes {
  display:block;
  display: none;
  font-size: 0.7em;
  position: fixed;
  bottom: -10px;
  left: 10px;
  color: white;
  background-color: black;
}

.progress {
  display: none;
}

.fade-overlay {

  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgb(0,0,0);

  opacity: 0.0;
  transition: opacity .3s ease-out;

}

.fade-overlay.fadeIn {
  opacity: 1.0;
}

.spectacle-content {
  position: fixed !important;
  top: 0px !important;
  left: 0px !important;
}

.primary.fullscreen-cue {
  width: 1920px;
  height: 1080px;
}

.primary.fullscreen-cue img {
  width: 1920px;
  height: 1080px;
}

.secondary.fullscreen-cue {
  width: 480px;
  height: 640px;
}

.secondary.fullscreen-cue img {
  width: 480px;
  height: 640px;
}

p.evaluation {
  width: 480px;
  margin-top: 30%;
  padding: 12%;
  font-size: 0.64em;
  text-align: left;
  line-height: 1.6em;
  color: black;
  font-weight: bold;
  font-family: "Arial Narrow";
  background-color: #a1b5ac;
}

.fullscreen-cue {

  position: fixed !important;
  top: 0px !important;
  left: 0px !important;
  padding: 0px !important;
  margin: 0px !important;

  background-color: rgba(0,111,222,0.3);

}

.text-fullscreen {
  text-align: center !important;
  padding-top: 20%;
}

.primary .text-fullscreen {
  font-size: 3em;
  width: 100%;
  margin: 0 22%;
}

.primary .text-fullscreen.success {

  margin: 0 17%;
}

.text-fullscreen.success {
  color: #6ab452;
}
.text-fullscreen.success {
  color: #6ab452;
}

.fs-image {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 480px;
}

.visualization {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 480px;
  height: 640px;
  color: #a1b5ac;
  /*background-color: #111;*/
}

.visualization .genCounter {
  position: fixed;
  top: -11px;
  left: 21.5%;
  width: 100%;
  text-align: center;
  color: #c41d25;
  font-size: 1.6em;
}

.visualization .systemState {
  display: none;
  position: fixed;
  bottom: 1%;
  left: 0%;
  width: 100%;
  text-align: center;
  color: #a1b5ac;
  font-size: 18px;
}

.visualization .genSpeedBar {
  position: fixed;
  bottom: 0%;
  right: 0%;
  width: 35px
}

.visualization .vistaContainer {
  position: fixed;
  top: 0%;
  left: 0%;
}

.visualization img {
  position: absolute;
}

.visualization .vista {
  position: absolute;
  /*background-color: yellow;*/
  width: 130px;
  height: 130px;
}

.visualization .vista .silhouette {
  position: absolute;
  top: 0px;
  left: 0px;
}

.ReactTable {
/*  width: 50% !important;
  height: 80% !important;*/
  font-size: 0.3em;
  background-color: #333;
  padding: 1%;
  margin: 1%;
  overflow: hidden;
}

.nextnotes {
  padding-top: 300px !important;
  color: #6ab452 !important;
}

.fixed-height-data-table {
  .rt-table {
    overflow: hidden !important;

    .rt-tbody {
      min-width: 0px !important;
    }
    .rt-thead {
      min-width: 0px !important;
      overflow: hidden !important;
    }
  }
}
